body,
html {
  font-family: Gotha;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
*{
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #27273e;
  margin-bottom: 70px;
}

.logo-pic {}

.contacts {
  font-style: normal;
  margin: 17px 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-size: 21px;
}

.contacts__phone {
  font-size: 21px;
  text-decoration: none;
  color: #ffffff;
}

.banner {
  background-repeat: no-repeat;
  margin: 0 auto;
}

.site-conteiner {
  display: flex;
  position: relative;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  flex: 1;
}

.header__container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.container-inner {
  flex: 1 0 auto;
}

.sidebar {
}

.menu {
  display: flex;
}

.menu__item {
margin-left: 90px;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__link {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  line-height: 20px;
  color: white;
}
.menu__link--active,
.menu__link:hover {
  color: #ec1e79;
  transition: .4s;
}
/*ссылка главная*/

.menu__link--main:before {
  content: '';
  display: block;
  position: absolute;
  top: 43px;
  left: 27%;
  transform: translate(-15%,-3%);
  width: 17px; height: 15px;
  background: url('../../img/css_sprites.png') -84px -86px;
}
.menu__link--main:hover:before{
  opacity: 0;
}

.menu__link--main.menu__link--active,
.menu__link--main:hover:after{
  opacity: 1;
}

.menu__link--main:after {
  content: '';
  display: block;
  position: absolute;
  top: 43px;
  left: 27%;
  transform: translate(-15%,-3%);
  width: 17px; height: 15px;
  background: url('../../img/css_sprites.png') -10px -86px;
  opacity: 0;
}
/*ссылка отзывы*/

.menu__link--feed:before {
  content: '';
  display: block;
  position: absolute;
  top: 44px;
  left: 45%;
  transform: translate(-15%,-18%);
  width: 20px; height: 18px;
  background: url('../../img/css_sprites.png') -10px -48px;
}
.menu__link--feed:hover:before{
  opacity: 0;
}

.menu__link--feed:hover:after{
  opacity: 1;
}

.menu__link--feed:after {
  content: '';
  display: block;
  position: absolute;
  top: 44px;
  left: 45%;
  transform: translate(-15%,-18%);
  width: 20px; height: 18px;
  background: url('../../img/css_sprites.png') -10px -10px;
  opacity: 0;
}

/*ссылка тарифы*/

.menu__link--wallet:before {
  content: '';
  display: block;
  position: absolute;
  top: 45px;
  left: 62%;
  transform: translate(-44%,-6%);
  width: 19px; height: 16px;
  background: url('../../img/css_sprites.png') -90px -46px;
}
.menu__link--wallet:hover:before{
  opacity: 0;
}

.menu__link--wallet:hover:after{
  opacity: 1;
}

.menu__link--wallet:after {
  content: '';
  display: block;
  position: absolute;
  top: 45px;
  left: 62%;
  transform: translate(-44%,-6%);
  width: 19px; height: 16px;
  background: url('../../img/css_sprites.png') -50px -48px;
  opacity: 0;
}
/*****************/
/*оформление текста ссылко для страниц отзывы и тарифы*/

.menu__link-other {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  line-height: 20px;
  color: #ec1e79;
}
.menu__link-other--active,
.menu__link-other:hover {
  color: #221f1f;
  transition: .4s;
}
/*ссылка главная для страниц отзывы и тарифы*/
.menu__link--main-other:before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 30%;
  transform: translate(-15%,-3%);
  width: 17px; height: 15px;
  background: url('../../img/css_sprites.png') -10px -86px;
}
.menu__link--main-other:hover:before{
  opacity: 0;
}

.menu__link--main-other.menu__link--active,
.menu__link--main-other:hover:after{
  opacity: 1;
}

.menu__link--main-other:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 30%;
  transform: translate(-15%,-3%);
  width: 17px; height: 15px;
  background: url('../../img/css_sprites.png') -47px -86px;
  opacity: 0;
}
/*ссылка отзывы для страниц отзывы и тарифы*/

.menu__link--feed-other:before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 47%;
  transform: translate(-15%,-18%);
  width: 20px; height: 18px;
  background: url('../../img/css_sprites.png') -10px -10px;
}
.menu__link--feed-other:hover:before{
  opacity: 0;
}

.menu__link--feed-other:hover:after{
  opacity: 1;
}

.menu__link--feed-other:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 47%;
  transform: translate(-15%,-18%);
  width: 20px; height: 18px;
  background: url('../../img/css_sprites.png') -50px -10px;
  opacity: 0;
}

/*ссылка тарифы для страниц отзывы и тарифы*/

.menu__link--wallet-other:before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 64%;
  transform: translate(-44%,-6%);
  width: 19px; height: 16px;
  background: url('../../img/css_sprites.png') -50px -48px;
}
.menu__link--wallet-other:hover:before{
  opacity: 0;
}

.menu__link--wallet-other:hover:after{
  opacity: 1;
}

.menu__link--wallet-other:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 64%;
  transform: translate(-44%,-6%);
  width: 19px; height: 16px;
  background: url('../../img/css_sprites.png') -90px -10px;
  opacity: 0;
}
/*******************/
.site-main {
  max-width: 880px;
  margin-bottom: 70px;
}

.site-main__inner {
  border: solid 1px #e8e9ed;
  width: 270px;
  margin-bottom: 30px;
}

.main-title {
  font-size: 49px;
  text-align: left;
  color: #221f1f;
  margin-bottom: 75px;
}
.main-title--other {
  margin-top: 30px;
  margin-bottom: 45px;
}

.features {
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
}

.features__content {
  text-align: center;
  width: 190px;
}
.features__content:last-child {
  margin-right: 0;
}

.features__image {
  display: flex;
  width: 68px;
  height: 68px;
  background-color: #27273e;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
}

.image--flower {
  width: 27px;
  height: 31px;
}
.image--star {
  width: 32px;
  height: 32px;
}
.image--paint {
  width: 28px;
  height: 29px;
}
.features__title {
  font-size: 11px;
  color: #212121;
  margin-bottom: 28px;
  text-transform: uppercase;
}
.features__title--top{
  font-size: 18px;
  margin-bottom: 34px;
  color: #221f1f;
}
.block-text {
  text-align: center;
}

.folder__li {
  display: flex;
  align-items: center;
}

.folder__li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ec1e79;
  margin-right: 30px;
  border-radius: 50%;
}

.features__desc {
  font-weight: normal;
  font-size: 18px;
  color: #221f1f;
  margin-bottom: 10px;
}
.features__folder {
}
.block-text-align {
  margin-left: 10px;
  text-align: left;
}

.site-main__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  margin-left: 25px;
}

.content-news {
  display: flex;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.content-news:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.content-news__avatar {
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

.avatar-pic {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
}

.text__data {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #656464;
}

.text__header {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #221f1f;
}

.text__body {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #221f1f;
}

.site-main__page-navigation {
  display: flex;
  justify-content: center;
}

.page-navigation__text {
  font-weight: normal;
  font-size: 14px;
  color: #656464;
  margin-right: 20px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.page-navigation__pages {
  font-size: 14px;
}

.pages__item {
  text-decoration: none;
  color: #221f1f;
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
  border-radius: 3px;
  line-height: 25px;
}

.pages__item--active,
.pages__item:hover {
  background-image: url(../../img/navigation_rectangle.png);
  background-repeat: no-repeat;
  transition: .4s;
  color: #ec1e79;
  cursor: pointer;
}

.footer {
  height: 77px;
  background-color: #27273e;
  overflow: hidden;
  flex-shrink: 0;
}

.footer__container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.footer_block {
  display: flex;
}

.footer__text {
  width: 264px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
}

.footer__pic {
}

.social-web {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-web__text {
  font-size: 14px;
  letter-spacing: normal;
  text-align: left;
  color: #221f1f;
  margin-bottom: 10px;
}

.social-web__img {
  display: flex;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.background {
  display: flex;
  width: 20px;
  margin-right: 10px;
}

.social_web_link {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.web_img {
  vertical-align: middle;
  padding-left: 3px;
}

.link {
  background-repeat: no-repeat;
  display: flex;
  background-position: center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.link--vk {
  background-image: url(../../img/web-icon/vk.png);
}

.link--vk.link--active,
.link--vk:hover {
  background-image: url(../../img/web-icon/vk.png);
  width: 20px;
  height: 20px;
  transition: .4s;
  background-color: #ec1e79;
  border-radius: 100px;
}

.link--fb {
  background-image: url(../../img/web-icon/fb.png);
}

.link--fb.link--active,
.link--fb:hover {
  background-image: url(../../img/web-icon/fb.png);
  width: 20px;
  height: 20px;
  transition: .4s;
  background-color: #ec1e79;
  border-radius: 100px;
}

.link--g {
  background-image: url(../../img/web-icon/google.png);
}

.link--g.link--active,
.link--g:hover {
  background-image: url(../../img/web-icon/google.png);
  width: 20px;
  height: 20px;
  transition: .4s;
  background-color: #ec1e79;
  border-radius: 100px;
}

.link--tw {
  background-image: url(../../img/web-icon/twitter.png);
}

.link--tw.link--active,
.link--tw:hover {
  background-image: url(../../img/web-icon/twitter.png);
  width: 20px;
  height: 20px;
  transition: .4s;
  background-color: #ec1e79;
  border-radius: 100px;
}

.link--email {
  background-image: url(../../img/web-icon/mail.png);
}

.link--email.link--active,
.link--email:hover {
  background-image: url(../../img/web-icon/mail.png);
  width: 20px;
  height: 20px;
  transition: .4s;
  background-color: #ec1e79;
  border-radius: 100px;
}

.way-text {
  opacity: 0.8;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(34, 31, 31, 0.8);
}

.way-text__pink {
  color: rgba(236, 30, 121, 0.8);
  margin-bottom: 28px;
}

.header-second {
  background-color: #27273e;
  margin-bottom: 40px;
}
/*всплывающее окно графика работы*/

.touch__text {
  margin: 0;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 700;
  color: #b12167;
  text-decoration: underline;
  cursor: pointer;
  margin: 3px 3px 0 0;
  position: relative;
}

.touch__text:hover {
  color: #769dcd;
}

.touch__list {
  display: none;
  font-family: 'GothaProLig';
  font-size: 14px;
  color: #000;
  line-height: 1.7;
  position: absolute;
  right: 23px;
  top: 94px;
  border: 0 solid #000;
  border-radius: 4px;
  width: 160px;
  padding: 8px;
  box-shadow: 2px 2px 3px 0 #ccc;
  background: #fff;
}

.touch__list::before {
  position: absolute;
  content: "";
  border: 8px solid #fff;
  transform: rotate(-45deg);
  right: 3px;
  top: -6px;
  box-shadow: 2px 0 3px 0 #ccc;
  z-index: -1;
}

.touch__block:hover .touch__list {
  display: block;
}

.touch__block:after {
  display: block;
  content: "";
  position: absolute;
  width: 10%;
  right: 20px;
  top: 15%;
}
.touch__item--color {
  font-family: 'GothaProBol';
  color: #ec1e79;
}